<%= link_to person_path(personid) do %>
  <div class="image-person">
    <%= image_tag(person_image) %>
  </div>
  <div class="introduce-person">
    <h3><%= personid.name %></h3>
    <h4> 出演回数 <%= personid.videos.count %>  回 </h4>
    <p><%=personid.description %></p>
    <div class="person_penalties">
      <% personid.penalties.shuffle.first(2).each do |penalty|%>
        <div class="penalty-person">
            <% case penalty.person_id %>
            <% when 1 %>
                <h4 class="tetsuya"> <%= penalty.name %> </h4>
            <% when 2 %>
                <h4 class="shibayu"> <%= penalty.name %> </h4>
            <% when 3 %>
                <h4 class="ryo"> <%= penalty.name %> </h4>
            <% when 4 %>
                <h4 class="toshimitsu"> <%= penalty.name %> </h4>
            <% when 5 %>
                <h4 class="yumemaru"> <%= penalty.name %> </h4>
            <% when 6 %>
                <h4 class="mushimegane"> <%= penalty.name %> </h4>
            <% end %>
        </div> <%# person_penalty %>
      <% end %>
    </div>

  </div> <%# introduce-person %>
<% end %>