<%= link_to person_path(personid) do %>
  <div class="image-person">
    <%= image_tag(person_image) %>
  </div>
  <div class="introduce-person">
    <h3><%= personid.name %></h3>
    <h4> 出演回数 <%= personid.videos.count %>  回 </h4>
    <p><%=personid.description %></p>

  </div> <%# introduce-person %>
<% end %>