<%= stylesheet_link_tag "people", :media => "all" %>

<h2>メンバー一覧</h2> 
<h3><%= link_to "作成",new_person_path %></h3>

<div class="people-tokai"><%# メンバーの記事一覧 %>

  <div class="person-tetsuya">
    <%= render partial: "person-article", locals: { person_id: Person.find(1) , person_image: 'tetsuya.jpg'} %>
  </div>

  <div class="person-sibayu">
    <%= render partial: "person-article", locals: { person_id: Person.find(2) , person_image: 'sibayu.jpg'} %>
  </div>

  <div class="person-ryo">
    <%= render partial: "person-article", locals: { person_id: Person.find(3) , person_image: 'ryo.jpg'} %>
  </div>

  <div class="person-toshimitsu">
    <%= render partial: "person-article", locals: { person_id: Person.find(4) , person_image: 'toshimitsu.jpg'} %>
  </div>

  <div class="person-yumemaru">
    <%= render partial: "person-article", locals: { person_id: Person.find(5) , person_image: 'yumemaru.jpg'} %>
  </div>

  <div class="person-mushimegane">
    <%= render partial: "person-article", locals: { person_id: Person.find(6) , person_image: 'mushimegane.jpg'} %>
  </div>

</div>  <%# people-tokai %>


<h2>出演者一覧</h2> 

<div class="people-sub">
  <% @people.each do |person|%>
    <%= link_to person_path(person.id) do %>
      <div class="person_tag">
        <h4>
          <%= person.name %>
          (<%= person.videos.count %>)
        </h4>
      </div>
    <% end %>
  <% end %>
</div>