<h2>人物クリエイト</h2>
<ul>
<%= form_for @person,url: people_path do |a| %>

  <li>
    <%= a.label :name ,'名前' %>
    <%= a.text_field :name,placeholder:'名前を入力してください' %>
  </li>

  <li>
    <%= a.label :description ,'人物の紹介文' %>
    <%= a.text_area :description,placeholder:'紹介文を入力してください' %>
  </li>

  <li>
    <%= a.submit %>
  </li>

<% end %>
</ul>