<ul>
<%= form_for @video do |a| %>
  <li>
    <%= a.label :動画URL %>
    <%= a.text_field :url,placeholder:'URLを貼り付けてください' %>
  </li>
  <li>
    <%= a.label :タイトル %>
    <%= a.text_field :title %>
  </li>
  <li>
    <%= a.label :チャンネル種類 %>
    <%= a.select :kind_of,[["メインチャンネル",0],["サブチャンネル",1],["個人チャンネル",2],["その他",3]],include_blank: "選択必須です" %>
  </li>
  <li>
    <%= a.label :ランク %>
    <%= a.select :rate,[["S",1],["A",2],["B",3],["C",4]],include_blank: "選択必須です" %>
  </li>
  <li>
    <%= a.label :概要 %>
    <%= a.text_area :description %>
  </li>
  <li>
    <%= a.label :見所 %>
    <%= a.text_area :highlight %>
  </li>
  <li>
    <%= a.label :カテゴリー %>
    <%= a.select :category,[
      ["企画もの",0],["サブチャン",1],["コント",2],["クイズ",3],["選手権",4],["検証系",5],["対決",6],["王",7],
      ["文理対決",8],["旅行",9],["料理",10],["スポーツ",11],["ドッキリ",12],["ゲーム",13],["コラボ",14],
      ["晩ご飯じゃんけん",99],["いじわる",98],["十字架(サブチャン)",97]
    ],include_blank: "選択必須です" %>
  </li>
  <li>
    <%= a.label :名言 %>
    <%= a.text_field :quotes %>
  </li>
  <li>
    <%= a.label :マンオブザマッチ %>
    <%= a.select :mvp,[["該当無し",0],["てつや",1],["しばゆー",2],["りょう",3],["としみつ",4],["ゆめまる",5],["虫眼鏡",6]],include_blank: "選択必須です" %>
  </li>
  <li>
    <%= a.label :編集者 %>
    <%= a.select :editor,[["不明",0],["てつや",1],["しばゆー",2],["りょう",3],["としみつ",4],["ゆめまる",5],["虫眼鏡",6]],include_blank: "選択必須です" %>
  </li>
  <li>
    <%= a.label :投稿日 %>
    <%= a.date_select :updated_on,{start_year: 2014,end_year: 2020,use_month_numbers: true} %>
  </li>
  <li>
    <%= a.submit %>
  </li>
<% end %>
</ul>