<% videos.each do |video|%>
  <%= link_to video_path(video.id) do %>
    <div class="video_article">
    
      <div class="article-image">
        <iframe src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="article-column">
        <div class="article-title">
          <p class="article_title"><%= video.title %></p>
        </div>

        <div class="article_row">

          <div class="article-rate">
            <% case video.rate %>
              <% when 1 %>
                <h3 class="S"> S </h3>
              <% when 2 %>
                <h3 class="A"> A </h3> 
              <% when 3 %>
                <h3 class="B"> B </h3> 
              <% else %>
                <h3 class="C"> C </h3> 
            <% end %>
          </div><%# article-rate %>


          <div class="article-mvp">
            <%= render partial: "videos/person-color", locals: { person_kind: video.mvp } %>
          </div><%# article-mvp %>
          
          <div class="article-tags">
            <% video.tags.shuffle.first(4).each do |tag| %>
              <div class="article-tag btn"><h3><%= tag.name %><h3></div>
            <% end %>
          </div>

        </div><%# article_row %>


      </div><%# article-column %>

      <div class="article-date">
        <%= video.updated_on %>
        <div id="like-<%= video.id %>"> <%#いいね機能%>
          <%= render partial: "videos/like", locals: {video: video }%>
        </div>
      </div>

    </div><%# video-article %>
  <% end %>
<% end %>