<div class="title">
  <h3> 動画記事編集フォーム </h3>
</div>

<div class="form_video width-96">

  <%= form_for @video do |a| %>
  
    <div class="form-">
      <%= a.label :url , 'URL' %>
      <%= a.text_field :url,placeholder:'URLを貼り付けてください' %>
    </div>

    <div class="form-">
      <%= a.label :title , 'タイトル' %>
      <%= a.text_field :title %>
    </div>

    <div class="form-">
      <%= a.label :sort , 'タイトルのふりがな「例：よんじゅろく〇〇」' %>
      <%= a.text_field :sort %>
    </div>

    <div class="form-">
      <%= a.label :description ,'概要' %>
      <%= a.text_area :description %>
    </div>

    <% if @video.highlight.present? %> <%# 記事作成のときのみ初期値が設定される %>
      <div class="form-">
        <%= a.label :highlight ,'見所' %>
        <%= a.text_area :highlight %>
      </div>
    <% else %>
      <div class="form-">
        <%= a.label :highlight ,'見所' %>
        <%= a.text_area :highlight, value: " &lt;a href=&quot;https://www.youtube.com/embed/動画コード?autoplay=1&start=秒数&quot; target=&quot;player&quot; id=&quot;click&quot;&gt;表示させる文字&lt;/a&gt;".html_safe %>
    </div>
    <% end %>


    <div class="form-">
      <%= a.label :quotes, '名言' %>
      <%= a.text_field :quotes %>
    </div>

    <div class="form-">
      <%= a.label :rate ,'ランク' %>
      <%= a.select :rate,[["S",1],["A",2],["B",3],["C",4]],include_blank: "選択必須です" %>
    </div>

    <div class="form-">
      <%= a.label :kind_of , 'チャンネル種類' %>
      <%= a.select :kind_of,[["メインチャンネル",0],["サブチャンネル",1],["個人チャンネル",2],["その他",3]],include_blank: "選択必須です" %>
    </div>

    <div class="form-">
      <%= a.label :カテゴリー %>
      <%= a.select :category,[
        ["企画もの",0],["サブチャン",1],["コント",2],["クイズ",3],["選手権",4],["検証系",5],["対決",6],["王",7],
        ["文理対決",8],["旅行",9],["料理",10],["スポーツ",11],["ドッキリ",12],["ゲーム",13],["コラボ",14],
        ["動画アップロードチャンネル",96],["としみつ東海オンエアの",95],["虫眼鏡の放送部",94],["ブラーボりょうのボンサバドゥチャンネル",93],["ゆめまる美術館",92],["ニンマリシティへようこそ",91],
        ["晩ご飯じゃんけん",99],["いじわる",98],["十字架(サブチャン)",97]
      ],include_blank: "選択必須です" %>
    </div>

    <div class="form-collection-check">
      <%= a.label :person_ids , '出演者' %>
      <div class='form_group'>
        <%= a.collection_check_boxes(:person_ids, Person.all, :id, :name) do |person| %>
          <div class='form_check'>
              <%= person.label class: 'form-check-label' do %>
                  <%= person.check_box class: 'form-check-input' %>
                  <%= person.text %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-">
      <%= a.label :mvp , 'マンオブザマッチ' %>
      <%= a.select :mvp,[["該当無し",0],["てつや",1],["しばゆー",2],["りょう",3],["としみつ",4],["ゆめまる",5],["虫眼鏡",6]],include_blank: "選択必須です" %>
    </div>

    <div class="form-">
      <%= a.label :編集者 %>
      <%= a.select :editor,[["不明",0],["てつや",1],["しばゆー",2],["りょう",3],["としみつ",4],["ゆめまる",5],["虫眼鏡",6]],include_blank: "選択必須です" %>
    </div>

    <div class="form-collection-check">
      <%= a.label :penalty_ids , '罰ゲーム' %>
      <div class='form_group'>
        <%= a.collection_check_boxes(:penalty_ids, Penalty.all.order(sort:'asc'), :id, :name) do |penalty| %>
          <div class='form_check'>
              <%= penalty.label class: 'form-check-label' do %>
                  <%= penalty.check_box class: 'form-check-input' %>
                  <%= penalty.text %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-collection-check">
      <%= a.label :place_ids , '撮影場所' %>
      <div class='form_group'>
        <%= a.collection_check_boxes(:place_ids, Place.all, :id, :name) do |place| %>
          <div class='form_check'>
              <%= place.label class: 'form-check-label' do %>
                  <%= place.check_box class: 'form-check-input' %>
                  <%= place.text %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-collection-check">
      <%= a.label :music_ids , 'BGM' %>
      <div class='form_group'>
        <%= a.collection_check_boxes(:music_ids, Music.all, :id, :name) do |music| %>
          <div class='form_check'>
              <%= music.label class: 'form-check-label' do %>
                  <%= music.check_box class: 'form-check-input' %>
                  <%= music.text %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-collection-check">
      <%= a.label :tag_ids , 'ハッシュタグ' %>
      <div class='form_group'>
        <%= a.collection_check_boxes(:tag_ids, Tag.all.order(sort:'asc'), :id, :name) do |tag| %>
          <div class='form_check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="recommends-check">
      <%= a.label :recommend_ids , '関連動画' %>
      <div class='recommend-videos'>
        <%= a.collection_check_boxes(:recommend_ids, Video.all.order(sort:'asc'), :id, :title) do |recommend| %>
          <div class='recommend-video'>
              <%= recommend.label class: 'form-check-label' do %>
                  <%= recommend.check_box class: 'form-check-input' %>
                  <p><%= recommend.text %></p>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="submit">
      <%= a.submit class: 'decorated-btn click-down' %>
    </div>
  <% end %>
  </ul>
</div> <%# form-video %>