<%= stylesheet_link_tag "videos", :media => "all" %>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a href="#all-videos" class="nav-link active" data-toggle="tab">全動画一覧(<%= @all_videos.count %>)</a>
  </li>
  <li class="nav-item">
    <a href="#main-videos" class="nav-link" data-toggle="tab">メインチャンネル(<%= @all_videos.where(kind_of: 0).count %>)</a>
  </li>
  <li class="nav-item">
    <a href="#sub-videos" class="nav-link" data-toggle="tab">サブチャンネル(<%= @all_videos.where(kind_of: 1).count %>)</a>
  </li>
  <li class="nav-item">
    <a href="#private-videos" class="nav-link" data-toggle="tab">個人チャンネル(<%= @all_videos.where(kind_of: 2).count %>)</a>
  </li>
  <li class="nav-item">
    <a href="#deffrent-videos" class="nav-link" data-toggle="tab">その他(<%= @all_videos.where(kind_of: 3).count %>)</a>
  </li>
</ul>

<div class="tab-content">
  <div id="all-videos" class="tab-pane fade show active">
    <div class="video_articles">
      <%= render partial: "video-articles", locals: { videos: @videos }%>
    </div>
    <%= paginate @videos %>
  </div>

  <div id="main-videos" class="tab-pane fade">
    <div class="video_articles_main">
      <%= render partial: "video-articles", locals: { videos: @main }%>
    </div>
    <%= link_to_next_page @main, 'さらに見る', remote: true ,class: 'btn btn-secondary tetsuya', id: 'more_link_main' %>
  </div>

  <div id="sub-videos" class="tab-pane fade">
    <div class="video_articles_sub">
      <%= render partial: "video-articles", locals: { videos: @sub }%>
    </div>
    <%= link_to_next_page @sub, 'さらに見る', remote: true ,class: 'btn btn-secondary tetsuya', id: 'more_link_sub' %>
  </div>

  <div id="private-videos" class="tab-pane fade">
    <div class="video_articles_private">
      <%= render partial: "video-articles", locals: { videos: @private }%>
    </div>
    <%= link_to_next_page @private, 'さらに見る', remote: true ,class: 'btn btn-secondary tetsuya', id: 'more_link_private' %>
  </div>

  <div id="deffrent-videos" class="tab-pane fade">
    <div class="video_articles_other">
      <%= render partial: "video-articles", locals: { videos: @other }%>
    </div>
    <%= link_to_next_page @other, 'さらに見る', remote: true ,class: 'btn btn-secondary tetsuya', id: 'more_link_other' %>
  </div>

</div>
