<%= stylesheet_link_tag "videos", :media => "all" %>

<h2>東海オンエア出演最新動画一覧</h2>

<div class="video-articles">
  <% @videos.each do |video|%>
    <%= link_to video_path(video.id) do %>
      <div class="video-article">
      
        <div class="article-image">
          <iframe width="100%" height="200px" src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="article-column">
          <div class="article-title">
            <p class="article_title"><%= video.title %></p>
          </div>

          <div class="article_row">

            <div class="article-rate">
              <% case video.rate %>
                <% when 1 %>
                  <h3 class="S"> S </h3>
                <% when 2 %>
                  <h3 class="A"> A </h3> 
                <% when 3 %>
                  <h3 class="B"> B </h3> 
                <% else %>
                  <h3 class="C"> C </h3> 
              <% end %>
            </div><%# article-rate %>


            <div class="article-mvp">

              <% case video.mvp %>
                <% when 1 %>
                  <h3 class="tetsuya"> てつや </h3>
                <% when 2 %>
                  <h3 class="shibayu"> しばゆー </h3>
                <% when 3 %>
                  <h3 class="ryo"> りょう </h3> 
                <% when 4 %>
                  <h3 class="toshimitsu"> としみつ </h3>
                <% when 5 %>
                  <h3 class="yumemaru"> ゆめまる </h3>
                <% when 6 %>
                  <h3 class="mushimegane"> 虫眼鏡 </h3>
                <% else %>
                  <h3 class="no-one"> 該当者無し </h3>
              <% end %>

            </div><%# article-mvp %>

          </div><%# article_row %>

          <div class="article-date">
            <%= video.updated_on %>
          </div>

        </div><%# article-column %>

      </div><%# video-article %>
    <% end %>
  <% end %>
</div><%# video-articles %>
