  <% tags.each do |tag|%>
    <% case tag.person.name %>
      <% when 'てつや' , 1 %>
        <div class="btn btn-secondary tetsuya">
          <%= link_to tag_path(tag.id) do %>
            <%= tag.name %>
            (<%= tag.videos.count %>)      
          <% end %>
        </div>
      <% when 'しばゆー',2 %>
        <div class="btn btn-secondary shibayu">
          <%= link_to tag_path(tag.id) do %>
            <%= tag.name %>
            (<%= tag.videos.count %>)      
          <% end %>
        </div>
      <% when 'りょう',3 %>
        <div class="btn btn-secondary ryo">
          <%= link_to tag_path(tag.id) do %>
            <%= tag.name %>
            (<%= tag.videos.count %>)      
          <% end %>
        </div>
      <% when 'としみつ' ,4%>
        <div class="btn btn-secondary toshimitsu">
          <%= link_to tag_path(tag.id) do %>
            <%= tag.name %>
            (<%= tag.videos.count %>)      
          <% end %>
        </div>
      <% when 'ゆめまる',5 %>
        <div class="btn btn-secondary yumemaru">
          <%= link_to tag_path(tag.id) do %>
            <%= tag.name %>
            (<%= tag.videos.count %>)      
          <% end %>
        </div>
      <% when '虫眼鏡',6 %>
        <div class="btn btn-secondary mushimegane">
          <%= link_to tag_path(tag.id) do %>
            <%= tag.name %>
            (<%= tag.videos.count %>)      
          <% end %>
        </div>
      <% else %>
        <div class="btn btn-secondary tokai">
          <%= link_to tag_path(tag.id) do %>
            <%= tag.name %>
            (<%= tag.videos.count %>)      
          <% end %>
        </div>
    <% end %>
  <% end %>