<%= stylesheet_link_tag "tags", :media => "all" %>

<p><%= link_to 'ハッシュタグ一覧に戻る',tags_path %></p>

<div class="tag-show">
  <table class="table table-borderless">
    <tr> 
      <th>ハッシュタグ名</th> 
      <th><%= @tag.name %> </th> 
    </tr>
    <tr> 
      <th>概要</th> 
      <th><%= @tag.description %></th>
    </tr>
    <tr> 
      <th>受けた人</th> 
      <th><%= @tag.person.name %></th>
    </tr>
</table>
</div>

<div class="recommend-tag">
  <h2>おすすめハッシュタグ</h2>
  <div class="hash-tags">
    <%= render partial: "tag-color", locals: { tags: @tags }%>
  </div>
</div>

<% if user_signed_in?  && current_user.id == 1 %>
  <%= link_to '編集',edit_tag_path(@tag) %>
  <%= link_to '削除',tag_path(@tag),
    method: :delete,
    data: {confirm: '本当に削除しますか？'}
  %>
<% end %>

<h2><%= @tag.name %> が付いている動画リスト </h2>

<div class="video_articles">
  <%= render partial: "videos/video-articles", locals: { videos: @tag.videos } %>
</div>

<%= @tag.id %>
