<%= stylesheet_link_tag "tags", :media => "all" %>

<% if false %>

<h2>罰ゲーム（十字架）リスト</h2>
<%= search_form_for @searches,html: { class: "form-inline" }, url: search_penalties_path do |f| %>
 <%= f.label :name_or_description, '罰ゲーム検索' %>
 <%= f.search_field :name_or_description_cont %>
 <%= f.submit '検索' %>
<% end %>

<div class="penalties">
  <%= render partial: "penalty-color", locals: { penalties: @penalties }%>
</div>

<% end %>

<%= javascript_pack_tag 'hello_vue' %>