<h1>罰ゲーム・十字架リスト</h1>

<%= @penalty.name %>

<%= @penalty.description %>

<%= @penalty.person.name %>

<%= @penalty.since %>

<%= @penalty.id %>

  <%= link_to '編集',edit_penalty_path(@penalty) %>
  <%= link_to '削除',penalty_path(@penalty),
    method: :delete,
    data: {confirm: '本当に削除しますか？'}
  %>

<h2><%= @penalty.name %> が行われている動画リスト </h2>
<div class="video_articles">
  <%= render partial: "videos/video-articles", locals: { videos: @penalty.videos } %>
</div>