<%= stylesheet_link_tag "penalties", :media => "all" %>

<p><%= link_to '罰ゲーム一覧に戻る',penalties_path %></p>

<div class="penalty-show">
  <table class="table table-borderless">
    <tr> 
      <th>罰ゲーム名</th> 
      <th><%= @penalty.name %> </th> 
    </tr>
    <tr> 
      <th>概要</th> 
      <th> <%=safe_join(@penalty.description.split("\n"),tag(:br))%> </th>
    </tr>
    <tr> 
      <th>受けた人</th> 
      <th><%= @penalty.person.name %></th>
    </tr>
    <tr> 
      <th>いつから</th> 
      <th><%= @penalty.since %></th>
    </tr>
</table>
</div>

<div class="recommend-penalty">
  <h2>おすすめ罰ゲーム</h2>
  <div class="penalties">
    <%= render partial: "penalty-color", locals: { penalties: @penalties }%>
  </div>
</div>

<% if user_signed_in?  && current_user.id == 1 %>
  <%= link_to '編集',edit_penalty_path(@penalty) %>
  <%= link_to '削除',penalty_path(@penalty),
    method: :delete,
    data: {confirm: '本当に削除しますか？'}
  %>
<% end %>

<h2><%= @penalty.name %> が行われている動画リスト </h2>
<div class="video_articles">
  <%= render partial: "videos/video-articles", locals: { videos: @penalty.videos } %>
</div>

<%= @penalty.id %>
