<%= stylesheet_link_tag "penalties", :media => "all" %>

<div class="title">
  <h3><%= link_to 'Penalty',penalties_path %></h3>
</div>

<div class="person_background-image">
    <%= render partial: "people/person-image", locals: {person_id: @penalty.person_id }%>
</div>

<div class="person_introduce_box">
  <div class="person_image">
    <%= render partial: "people/person-image", locals: {person_id: @penalty.person_id }%>
  </div>

  <div class="person_name_description">
    <div class="person_name">
      <h3><%= @penalty.name %></h3>
    </div>
    <div class="person_description">
      <p> since <%= @penalty.since %> </p>  
      <p> <%= safe_join(@penalty.description.split("\n"),tag(:br)) %> </p>  
    </div>
  </div>
</div>

<% if user_signed_in?  && current_user.id == 1 %>
  <%= link_to '編集',edit_penalty_path(@penalty) %>
  <%= link_to '削除',penalty_path(@penalty),
    method: :delete,
    data: {confirm: '本当に削除しますか？'}
  %>
<% end %>

<div class="width-96">
  <div class="recommend-penalty">
    <h2>おすすめ罰ゲーム</h2>
    <div class="penalties">
      <%= render partial: "penalty-color", locals: { penalties: @penalties }%>
    </div>
  </div>


  <h2><%= @penalty.name %> が行われている動画リスト </h2>
  <div class="video_articles">
    <%= render partial: "videos/video-articles", locals: { videos: @penalty.videos } %>
  </div>

  <%= @penalty.id %>
</div>
