<h1>BGMリスト</h1>
<%= search_form_for @searches,html: { class: "form-inline" }, url: search_musics_path do |f| %>
 <%= f.label :name_or_description, 'ハッシュタグ検索' %>
 <%= f.search_field :name_or_description_cont %>
 <%= f.submit '検索' %>
<% end %>

<% @musics.each do |music|%>
  <ul>

    <li>
      <%= link_to music_path(music.id) do %>
          <%= music.name %>
      <% end %>
    </li>

  </ul>
<% end %>