<%= stylesheet_link_tag "musics", :media => "all" %>

<div class="background-image">
  <%= image_tag 'bgm.jpg' %>
</div>
<div class="background-title">
  <div class="background-title-column">
    <h3>BGM</h3>
    <h2>東海オンエア愛用音源</h2>
  </div>
</div>

<%# 自分がログインしているときのみ表示  %>
<% if user_signed_in?  && current_user.id == 1 %>
  <h2> <%= link_to 'BGM作成' ,new_music_path if current_user.id == 1 %> </h2>
<% end %>

<div class="width-96">
  <div class="musics">
    <% @musics.each do |music|%>
      <div class="btn btn-success">
        <%= link_to music_path(music.id) do %>
          <%= music.name %>
          (<%= music.videos.count %>)
        <% end %>
      </div>
    <% end %>
  </div>
</div>