<%= stylesheet_link_tag "places", :media => "all" %>

<p><%= link_to '撮影場所一覧に戻る',places_path %></p>

<div class="place-show">
  <table class="table table-borderless">
    <tr> 
      <th>撮影場所名</th> 
      <th><%= @place.name %> </th> 
    </tr>
    <tr> 
      <th>概要</th> 
      <th> <%=safe_join(@place.description.split("\n"),tag(:br))%> </th>
    </tr>
</table>
</div>

<div class="recommend-place">
  <h2>おすすめ撮影場所</h2>
  <% @places.each do |place|%>
    <div class="btn btn-danger">
      <%= link_to place_path(place.id) do %>
        <%= place.name %>
        (<%= place.videos.count %>)
      <% end %>
    </div>
  <% end %>
</div>

<% if user_signed_in?  && current_user.id == 1 %>
  <%= link_to '編集',edit_place_path(@place) %>
  <%= link_to '削除',place_path(@place),
    method: :delete,
    data: {confirm: '本当に削除しますか？'}
  %>
<% end %>


<h2><%= @place.name %> で撮影が行われている動画リスト </h2>

<div class="video_articles">
  <%= render partial: "videos/video-articles", locals: { videos: @place.videos.sample(40) } %>
</div>

<%= @place.id %>