<!DOCTYPE html>
<html>
  <head>
    <title>かんた東海オンエア伝道大使の</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%# ↓deviseのフラッシュメッセージを表示するもの %>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%# ↑devise用の記述 %>

    <div class="navbar">

      <div class="title_logo">
        <%= link_to image_tag('tokaidb-logo.jpg',size: '400x60'),videos_path %>
      </div><%# title-logo %>

      <div class="nav_people">
        <%= link_to "登場人物",people_path %>
      </div>
      
      <div class="nav_penalty">
        <%= link_to "罰ゲーム(十字架)",penalties_path %>
      </div>
      
      <div class="nav_place">
        <%= link_to "撮影場所",places_path %>
      </div>
      
      <div class="nav_music">
        <%= link_to "BGM",musics_path %>
      </div>

      <div class="nav_tags">
        <%= link_to "ハッシュタグ",tags_path %>
      </div>

      <div class="nav_search">
        <%= search_form_for @search, url: search_videos_path do |f| %>
        
          <%= f.label :updated_on_cont, '日付'%>
          <%= f.date_select :updated_on_gteq,{start_year: 2013,end_year: 2020,selected:Date.new(2013, 10, 12),include_blank: true} %>
          <%= f.label :updated_on_cont, '〜' %>
          <%= f.date_select :updated_on_lteq,{start_year: 2013,end_year: 2020,include_blank: true} %>

          <%= f.label :title_cont, 'タイトル' %>
          <%= f.search_field :title_cont %>
          <%= f.submit '検索' %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="user_btn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="user_btn">
          <div class="not-user">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            /
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
         </div>
      <% end %>

    </div><%# navbar %>

    <div class="main-contents">
      <div class="yield"><%= yield %></div>
    </div>


  </body>
</html>
